<div style='margin: 10px;'>
  <input type="text" placeholder="create tag" class='form-control create-tag-value'>
</div>
<div style='text-align:center;'>
  <button type="button" class="btn btn-success create-tag">
    タグ作成
  </button>
</div>
