<ul class="table-wrapper tags-table">
  <% @tags.each do |tag| %>
    <li class='col-md-2 col-sm-3 col-xs-6'>
      <div class="panel panel-default tags">
        <%= tag.value %>
        <%= link_to('', [ :remove_tag, :staff, tag ],
            class: 'glyphicon glyphicon-remove',
            style: 'color: black; float: right',
            method: :delete,
            data: { confirm: '本当に削除してよろしいですか?' },
            "data-tag-id" => "#{tag.id}"
          )
        %>
      </div>
    </li>
  <% end %>
</ul>
