<div class="tags-table row", style="list-style:none;">
  <% @tags.each do |tag| %>
    <span class='col-md-2 col-sm-3 col-xs-6 delete-span'>
      <div class="panel panel-default tags">
        <%= tag.value %>
        <%= tag('span',
            class: 'glyphicon glyphicon-remove delete-tag',
            style: 'color: black; float: right',
            id: "#{tag.id}"
          )
        %>
      </div>
    </span>
  <% end %>
</div>
