<% @title = 'タグ管理' %>
<h1><%= @title %></h1>

<div style='margin: 10px; '>
  <input type="text" placeholder="search" id="search" class='form-control search_word'>
</div>

<ul class="tags-table", style="list-style:none;">
  <%= render 'tags_table' %>
</ul>
