<% @title = 'タグ管理' %>
<h1><%= @title %></h1>

<%= render 'form' %>

<div style='margin: 10px; '>
  <input type="text" placeholder="search" id="search" class='form-control search_word'>
</div>


<%= render 'tags_table' %>
