<% @title = 'タグ管理' %>
<h1><%= @title %></h1>

<div style='margin: 10px; '>
  <input class="form-control search_word" type="text">
</div>
<div style='text-align:center;'>
  <button type="button" class="btn btn-success search_tags">
    検索
  </button>
  <button type="button" class="btn btn-default">
    クリア
  </button>
</div>

<%= render 'tags_table' %>
