<% @title = 'タグカテゴリー管理' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <% @tags.each do |tag| %>
    <li class='col-md-2 col-sm-3 col-xs-6'>
      <div class="panel panel-default tags">
        <span class='tag'>
          <%= tag.value %>
          <%= link_to('', [ :remove_tag, :staff, tag ],
              class: 'glyphicon glyphicon-remove',
              style: 'color: black; float: right',
              method: :delete,
              data: { confirm: '本当に削除してよろしいですか?' },
              "data-tag-id" => "#{tag.id}"
            )
          %>
        </span>
      </div>
    </li>
  <% end %>
</div>
